@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Roboto:wght@100;300;400&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  max-width: 100%;
  overflow-x: hidden;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content img {
  align-self: center;
}
.main-content p {
  align-self: center;
}

/* CSS */
.button-34 {
  align-self: center;
  margin-top: 20px;
  background: #f43a3a;
  border-radius: 999px;
  box-shadow: #f43a3a 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;

  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 10px 28px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  text-decoration: none;
}
